<ion-header>
  <ion-navbar>
    <ion-title>
      Purchase History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<div *ngIf="(transactions).length <= 0">
    <p text-center>You have no recent transactions to list.</p>
  </div>

  <div *ngIf="(transactions).length > 0">
		<ion-list no-border >
      <ion-list-header>
        Recent Transactions
      </ion-list-header>
      <ion-item *ngFor="let transaction of transactions; let i = index" text-wrap (click)="openDetailPage(i)">
          {{transaction.store}}
          <ion-note item-end>{{displayDate(transaction.date)}}</ion-note>
      </ion-item>
    </ion-list>
	</div>

</ion-content>
