<ion-header>
  <ion-navbar>
    <ion-title>Checkout</ion-title>
    <ion-buttons end>
      <button ion-button color="dark" (click)="scanPhoto()">Scan</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- If cart is empty -->
  <p *ngIf="(shoppingCart).length <= 0">You currently have no items in your cart. Scan items by pressing the button in the top right.</p>

  <!-- If cart is not empty -->
  <ion-list no-border *ngIf="(shoppingCart).length > 0">
    <ion-list-header>
      Cart
    </ion-list-header>
    <ion-item-sliding *ngFor="let shopItem of shoppingCart" #slidingItem>
      <ion-item text-wrap>
        <ion-note item-start class="quantity">{{shopItem.quantity}}</ion-note>
        {{shopItem.name}}
        <ion-note item-end>$ {{shopItem.price}}</ion-note>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger"><ion-icon name="ios-trash" (click)="removeItemFromCart(shopItem.name)"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-list no-border *ngIf="(shoppingCart).length > 0">
    <ion-list-header>
      Total
    </ion-list-header>
    <ion-item>Tax: $ {{calculateTax()}}</ion-item>
    <ion-item>Final Price: $ {{calculateFinalPrice()}}</ion-item>
  </ion-list>

</ion-content>
