page-home {
	.quantity {
		color: #242424;
		font-size: 120% !important;
		margin-right: 10% !important;
	}

	.publixImage {
		width: 86%;
		margin-top: 5%;
		margin-left: 7%; 
		margin-right: 7%;
	}
}
